.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @comment, url: article_comments_path(@comment.article), local: true) do |f|
    %div
      = f.label :content, 'New Comment'
    %div
      = f.text_area :content, class: 'content'
    = f.submit 'Submit', class: 'btn-primary'