.container
  .new_title
    %h1 New Board
  %ul
    - article.errors.full_messages.each do |message|
      %li= message
  = form_with(model: article, local: true) do |f|
    %div
      = f.label :eyecatch, 'アイキャッチ'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'title'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_area :content, class: 'content'
    %div  
      = f.label :deadline, 'deadline'
    %div    

      = f.text_field :deadline, class: 'form-control result', id: 'date-time'

      -# = f.text_field :deadline, class: 'form-control'
    -# %input#date-time.result{:placeholder => "Date Picker...", :type => "text"}/
    -# :javascript
    -#   $(function () {
    -#     $('#date-time').bootstrapMaterialDatePicker({
    -#       format: 'YYYY-MM-DD HH:mm'
    -#         });
    -#     });


    = f.submit 'Submit', class: 'btn-primary'
