<div class="article">
  <div class="article_detail_actions">
      <div class="dropdown">
        <%= image_tag 'actions.svg', class: 'dropbtn' %>
        <div class="dropdown-content mini">
          <%= link_to 'edit', edit_article_path(@article) %>
          <%= link_to 'delete', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' } %>
        </div>
      </div>
    </div>
  <h1 class="article_title"><%= @article.title %></h1>
  <div class="article_content">
    <%= @article.content %>
  <div class="article_detail">
    <%= image_tag 'Oval.png' %>
  </div>
  </div>
</div>