.article
  .article_detail_actions
    .dropdown
      = image_tag 'actions.svg', class: 'dropbtn'
      .dropdown-content.mini
        = link_to 'edit', edit_article_path(@article)
        = link_to 'delete', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
  %h1.article_title= @article.title
  .article_content
    = @article.content
    .article_detail
      = image_tag 'Oval.png'
      %div
        %p= @article.display_created_at
