.article
  - if user_signed_in? && current_user.has_written(@article)
    .article_detail_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'edit', edit_article_path(@article)
          = link_to 'delete', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
  %h1.article_title= @article.title
  .article_content
    = @article.content
    .article_detail
      = image_tag 'Oval.png'
      %div
        %p= @article.author_name
        %p= @article.display_created_at

.article
  %h2 Comment
  - @comments.each do |comment|
    .article_comment
      -# = image_tag 'Oval.png'
      %p= comment.content
  
.container
  = link_to new_article_comment_path(@article) do
    .btn-secondary
      .btn-secondary_text
        + Add new comment
